@media(max-width: 768px){

	.crt-card-description{
		border-bottom-left-radius: 0px!important;
		border-top-left-radius: 8px!important;
		border-top-right-radius: 8px!important;
		padding: 20px!important;
	}

	.crt-card-img{
		border-top-right-radius: 0px!important;
		border-bottom-right-radius: 8px!important;
		border-bottom-left-radius: 8px!important;
	}

	h1{
		font-size: 2rem!important;
	}

	#resume{
		padding: 20px;

		ul{
			padding-left: 3rem;
		}
	}

	.pl-5{
		padding-left: 1.5rem!important;
	}

}

@media(max-width: 575px){

	body{
		background-color: #f7f7f7;
	}
}