// Base
$primary: rgb(43, 62, 81);
$primary-10: rgba(43, 62, 81, .1);
$primary-20: rgba(43, 62, 81, .2);
$primary-30: rgba(43, 62, 81, .3);
$primary-40: rgba(43, 62, 81, .4);
$primary-50: rgba(43, 62, 81, .5);
$primary-60: rgba(43, 62, 81, .6);
$primary-70: rgba(43, 62, 81, .7);
$primary-80: rgba(43, 62, 81, .8);
$primary-90: rgba(43, 62, 81, .9);

$paper: rgb(255, 255, 255);
$paper-10: rgba(255, 255, 255, .1);
$paper-20: rgba(255, 255, 255, .2);
$paper-30: rgba(255, 255, 255, .3);
$paper-40: rgba(255, 255, 255, .4);
$paper-50: rgba(255, 255, 255, .5);
$paper-60: rgba(255, 255, 255, .6);
$paper-70: rgba(255, 255, 255, .7);
$paper-80: rgba(255, 255, 255, .8);
$paper-90: rgba(255, 255, 255, .9);

// Projects
$cicero: #19C6BE;