//Base Colors
$black-12:          rgba(0,0,0,.12);
$black-24:          rgba(0,0,0,.24);
$black-54:          rgba(0,0,0,.54);
$black-74:          rgba(0,0,0,.74);
$black:             #000000;
$paper-12:          rgba(255,255,255,.12);
$paper-54:          rgba(255,255,255,.54);
$paper-74:          rgba(255,255,255,.74);
$paper:             #ffffff;
$border:            #e3e3e3;
$body:              #eaebef;

//Custom Colors
$brand-primary:     #ceae11;
$brand-secondary:   #419ece;
$ui-dark:           #394750;
$mos:               #ff8a86;
$vip:               #0067ac;

//Heights
$height-lg:         44px;
$height-md:         36px;
$height-sm:         28px;
$height-xs:         18px;

//Border-radius
$radius-sm:         2px;
$radius-md:         4px;
