<footer class="footer row p-5 text-muted">
	<div class="container text-center">
		<h2><i class="icon-ctaylor"></i></h2>
		<h2>Christopher Taylor</h2>
		<!-- <p class="small">Proudly made in North Lewisburgh OH</p> -->
		<p>
			<ul id="crt-tabs" class="nav justify-content-center">
				<li class="nav-item">
					<a href="{{ site.baseurl }}/" class="nav-link">About</a>
				</li>
				<li class="nav-item">
					<a href="{{ site.baseurl }}/portfolio" class="nav-link">Portfolio</a>
				</li>
				<li class="nav-item">
					<a href="{{ site.baseurl }}/resume" class="nav-link">Resume</a>
				</li>
			</ul>
		</p>
		<div>
			<h4 class="d-inline-block m-0">
				<a href="https://www.linkedin.com/in/christopher-taylor-5ab209133/" target="_blank"><i class="icon-linkedin"></i></a>
			</h4>
			<h4 class="d-inline-block m-0">
				<a href="https://www.behance.net/crtcreative" target="_blank"><i class="icon-behance"></i></a>
			</h4>
			<h4 class="d-inline-block m-0">
				<a href="https://github.com/ctaylo37" target="_blank"><i class="icon-github"></i></a>
			</h4>
		</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script type="text/javascript">
	$('body').scrollspy({ target: '#project-sub-nav' })
</script>
