<div class="row mt-2">
	
	<div class="col-md-4" {% if page.permalink == '/elmo' %} class="hide" {% endif %}>
		<a href="{{ site.baseurl }}/elmo">
			<img src="{{ site.baseurl }}/img/slug-elmo.png" class="mt-3 img-fluid">
		</a>
		<h4 class="mt-3">PayPal Experimentation</h4>
		<label><span class="badge">2017</span> | Web App</label>
	</div>

	<div class="col-md-4" {% if page.permalink == '/cicero' %} class="hide" {% endif %}>
		<a href="{{ site.baseurl }}/cicero">
			<img src="{{ site.baseurl }}/img/slug-cicero.png" class="mt-3 img-fluid">
		</a>
		<h4 class="mt-3">Cicero Website</h4>
		<label><span class="badge">2015</span> | Website</label>
	</div>

	<div class="col-md-4" {% if page.permalink == '/geocoder' %} class="hide" {% endif %}>
		<a href="{{ site.baseurl }}/geocoder">
			<img src="{{ site.baseurl }}/img/slug-geocoder.png" class="mt-3 img-fluid">
		</a>
		<h4 class="mt-3">Cicero Geocoder</h4>
		<label><span class="badge">2015</span> | Web App</label>
	</div>

	<div class="col-md-4" {% if page.permalink == '/stormwater' %} class="hide" {% endif %}>
		<a href="{{ site.baseurl }}/stormwater">
			<img src="{{ site.baseurl }}/img/slug-stormwater.png" class="mt-3 img-fluid">
		</a>
		<h4 class="mt-3">Stormwater Interactive</h4>
		<label><span class="badge">2014</span> | Interactive Game</label>
	</div>

	<div class="col-md-4" {% if page.permalink == '/vip' %} class="hide" {% endif %}>
		<a href="{{ site.baseurl }}/vip">
			<img src="{{ site.baseurl }}/img/slug-vip.png" class="mt-3 img-fluid">
		</a>
		<h4 class="mt-3">Voting Information</h4>
		<label><span class="badge">2014</span> | Android App</label>
	</div>
	
</div>

<div class="row my-5 text-muted">
	<div class="col-md-12">
		<h5>More work can be seen at <a href="http://be.net/crtcreative" target="_blank"><strong>be.net/crtcreative</strong></a></h5>
	</div>
</div>