html {
  font-size: 18px;
}

@media (max-width: 400px) {
  html { font-size: 16px; }
}

@media (max-width: 900px) {
  html { font-size: 18px; }
}

@media(min-width: 1280px){
  html {font-size: 20px;}
}

body{
  margin: 0;
  font-size: 1rem;
  font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $paper;

  &.light{
    background-color: $paper;
  }
}

a{
  transition: all 0.3s ease-in;
  cursor: pointer!important;

  &:hover{
    cursor: pointer!important;
  }
}

hr{
  border-color: $border!important;
}

.row{
  margin: 0!important;
}

.container-fluid{
  z-index: 50;
  padding: 0!important;
}

.container{
  max-width: 1400px;
  width: 100%;
  padding: 0!important;

  &.no-pad{
    padding: 0!important;
  }
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  word-wrap: break-word;

  &.full-height{
    min-height: 100vh;
    height: 100%;
  }

  &.half-height{
    height: 50vh;
  }

  &.third-height{
    height: 40vh;
  }

  h2, h3{
    text-align: center;
  }
}

#footer{
  padding: 6rem 3rem;
  background-color: $black;
  text-align: center;
  width: 100%;
}
