//headroom
.headroom {
  transition: transform 200ms linear;
  font-family: 'Muli', sans-serif;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.1rem;
  color: $paper;

  a, i{
    color: $paper-54;
    display: inline-block;
    margin: 0 0.5rem;

    &:hover, &.active, &:focus{
      text-decoration: none;
      color: $paper;
    }
  }

  .modal{
    background-color: $ui-dark;
  }

  .brand{
    float: left;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: opacity 0.3s ease-in;

    &:hover{
      opacity: 1;
      &::after{
        content: 'Christopher Taylor';
        position: absolute;
        top: 24px;
        left: 64px;
        animation-name: slideDown;
        -webkit-animation-name: slideDown;

        animation-duration: 1s;
        -webkit-animation-duration: 1s;

        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;

        visibility: visible !important;
      }
    }

    @media(min-width: 768px){
      margin: 0;
      font-size: 0.9rem;
    }
  }

  .navigation, .mobile-navigation{
    float: right;
    font-size: 0.9rem;

    i{
      font-size: 1.8rem;
      margin-right: 0!important;
    }
  }

  .mobile-navigation{
    ul{
      right: 0!important;
      left: inherit!important;
    }
  }
}

.headroom--pinned {
  transform: translateY(0%);
  background-color: $black-74;
  height: 68px;
}

.headroom--unpinned {
  transform: translateY(-100%);
  display: none;
}


#mobile-menu{
  background-color: $black-74;

  .modal-dialog{
    margin: 2%;
    width: 96%;
    height: 96%;
  }

  a{
    color: $paper;
    text-decoration: none;

    &:hover{
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .modal-content{
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;

    ul{
      list-style: none;
      text-align: center;

      li a{
        padding: 1.5rem 1rem;
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
    }
  }

  .modal-header, .modal-body{
    padding: 1rem!important;
  }

  .modal-header{
    margin-bottom: 1rem;
    border: 0;
    height: 3rem;

    i{
      font-size: 2rem;
    }
  }
}
