#ai-project{

  h1{
    margin: 1rem 0;
  }

  label{
    margin: 1rem 0!important;
  }

  .container{
    padding-bottom: 6rem;

    img, .svg{
      width: 100%;
      height: auto;
    }

    .svg{
      background-image: url('../img/controller/ai_blur.png');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
