#intro{
  background-color: $brand-primary;
  flex: 1;
  padding: 2rem;

  h1{
    margin-top: 8rem;

    i{
      display: block;
      margin-top: 1rem;
      color: $paper-54;
    }
  }
}

#about{
  flex: 1;
  padding: 2rem;
  height: 100%;
  min-height: 100vh;

  h2{
    line-height: 1.5;
  }

  @media(min-width: 768px){
    padding: 3rem;
  }

  a{
    color: $brand-primary;
    text-decoration: underline;

    &:visited{
      color: $brand-primary;
    }

    &:hover{
      color: darken($brand-primary, 10%);
    }
  }
}
