//Project Heros
.hero{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
}

a.hero-over{
  opacity: 0;
  background-color: $black-54;
  color: $paper;
  padding: 2rem;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  label{
    background-color: $brand-primary;
    padding: 8px;
  }

  &:hover{
    opacity: 1;
    color: $paper;
  }

  &.h2{
    flex: 1;
  }
}

.light-glass{
  background-color: rgba(0,0,0,.3);
  text-shadow: 0 0 2px rgba(0,0,0,.3);
}

//Project Tumbnail
.project-thumb{
  height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

//Pagination
.project-pagination{
  display: block;
  width: 100%;
  position: relative;

  .left{
    display: inline-block;
    height: 200px;
    width: 100%;
    float: left;

    @media(min-width: 768px){
      width: 50%;
    }
  }

  .right{
    display: inline-block;
    height: 200px;
    width: 100%;
    float: right;

    @media(min-width: 768px){
      width: 50%;
    }
  }
}

//View All
a{

  &.view-all{
    display: block;
    width: 100%;
    background-color: $black-74;

    &:hover{
      background-color: $brand-primary;
      color: $paper;
      text-decoration: none;
    }
  }
}

//Project Images
#watch-hero{
  background-image: url('../img/home_slides/hero_watch.png');
}

#cicero-hero{
  background-image: url('../img/home_slides/hero_cicero.png');
}

#trca-hero{
  background-image: url('../img/home_slides/hero_trca.png');
}

#ai-hero{
  background-image: url('../img/home_slides/hero_ai.png');
}

#roc-hero{
  background-image: url('../img/home_slides/hero_roc.png');
}

#vip-hero{
  background-image: url('../img/home_slides/hero_vip.png');
}

#pwd-hero{
  background-image: url('../img/home_slides/hero_pwd.png');
}

#aitv-hero{
  background-image: url('../img/home_slides/hero_aitv.png');
}

#mos-hero{
  background-image: url('../img/home_slides/hero_mos.png');
}
